*{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body{
    font-size: 40px;
}

.container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

::placeholder{
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}


::input{
  border:none;
  border-radius:10px;
  box-shadow: none;
  padding: 2px 8px;
}
